<h1>Historique</h1>
<h2>Entrée aux COPS</h2>
<h3 class="text-center">Choisissez une entrée dans la liste</h3>
<div class="row">
    <div class="col-md-4">
        <ul class="list-group">
            <li     class="list-group-item li-origine"
                    ng-repeat="entree in service.getEntrees()"
                    ng-click="changeEntree(entree)">
                {{entree.nom}}
                <span ng-if="isActive(entree)" class="fa fa-chevron-right pull-right"></span>
            </li>
        </ul>
    </div>
    <div class="col-md-8">
        <h4>{{service.getEntreeSelectionnee().nom}}</h4>
        <div>{{service.getEntreeSelectionnee().description}}</div>
        <br>
        <div>{{service.getEntreeSelectionnee().consequences}}</div>
        <br>
        <div class="text-center">Choisir une répartition possible.</div>
        <div class="radio" ng-repeat="option in service.getEntreeSelectionnee().options">
            <label>
                <input ng-model="service.getEntreeSelectionnee().optionChoisie" name="choixEntree" ng-value="option" type="radio" ng-change="changeOption(option)">
                {{option.description}}
            </label>
        </div>
        <div ng-if="service.getEntreeSelectionnee().nom == 'Exotique'">
            <div class="row">
                <div class="col-xs-8">
                    <strong>Ancienneté</strong>
                </div>
                <div class="col-xs-4 text-center">
                    <div class="col-xs-6 text-right">
                        {{service.getEntreeSelectionnee().optionChoisie.anciennete}}
                    </div>
                    <div class="col-xs-6 input-group input-group-sm input-group-btn text-left">
                        <button class='btn btn-default' type='button' ng-disabled="!canAncienneteDown()" ng-click="ancienneteDown()">
                            <span class='glyphicon glyphicon-chevron-down'></span>
                        </button>
                        <button class='btn btn-default' type='button' ng-disabled="!canAncienneteAdrenalineUp()" ng-click="ancienneteUp()">
                            <span class='glyphicon glyphicon-chevron-up'></span>
                        </button>
                    </div>
                </div>
                <div class="col-xs-8">
                    <strong>Adrénaline</strong>
                </div>
                <div class="col-xs-4 text-center">
                    <div class="col-xs-6 text-right">
                        {{service.getEntreeSelectionnee().optionChoisie.adrenaline}}
                    </div>
                    <div class="col-xs-6 input-group input-group-sm input-group-btn text-left">
                        <button class='btn btn-default' type='button' ng-disabled="!canAdrenalineDown()" ng-click="adrenalineDown()">
                            <span class='glyphicon glyphicon-chevron-down'></span>
                        </button>
                        <button class='btn btn-default' type='button' ng-disabled="!canAncienneteAdrenalineUp()" ng-click="adrenalineUp()">
                            <span class='glyphicon glyphicon-chevron-up'></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="text-center">
    <button class="btn btn-primary" type="button" ng-click="goToRelationsSupplementaires()" ng-disabled="service.getEntreeSelectionnee().optionChoisie.adrenaline + service.getEntreeSelectionnee().optionChoisie.anciennete < 2">Relations Supplémentaires</button>
</div>