<div class="row">
    <div class="col-xs-8">
        <span popover="{{comp.description}}" popover-placement="right" popover-trigger="mouseenter" popover-append-to-body="true"><strong>{{comp.nom}}</strong></span>
    </div>
    <div class="col-xs-4 text-center">
        <div class="row" ng-if="comp.points > 0">
            <div class="col-xs-6 text-right">
                {{comp.points}} +
            </div>
            <div class="col-xs-6 input-group input-group-sm input-group-btn text-left">
                <button class='btn btn-default' type='button' ng-disabled="!canCompDown(comp)" ng-click="compDown(comp)">
                    <span class='glyphicon glyphicon-chevron-down'></span>
                </button>
                <button class='btn btn-default' type='button' ng-disabled="!canCompUp(comp)" ng-click="compUp(comp)">
                    <span class='glyphicon glyphicon-chevron-up'></span>
                </button>
                <button ng-if="comp.niveau == 'option'" class="btn btn-danger" type="button" ng-click="retirerComp(comp)">Retirer</button>
            </div>
        </div>
        <div ng-if="comp.points == 0">
            <button class="btn btn-sm btn-block btn-primary" type="button" ng-disabled="service.getPointsDisponibles() <= 0" ng-click="acquerirComp(comp)">Acquérir la compétence</button>
        </div>
    </div>
</div>
<div class="row" ng-if="(comp.specialisation.niveau >= comp.points && comp.points > 0) || comp.specialisation.specialitesObtenues.length > 0">
    <div class="col-xs-12" ng-if="comp.specialisation.specialitesObtenues.length > 0 || comp.specialisation.specialitesGagnees.length > 0">
        Spécialités obtenues :
                     <span class="panel panel-default" ng-repeat="spec in comp.specialisation.specialitesObtenues">
                        {{spec}}
                    </span>
                    <span class="panel panel-default" ng-repeat="spec in comp.specialisation.specialitesGagnees">
                        {{spec}} <i class="fa fa-times" style="cursor:pointer" ng-click="removeSpec(comp, spec)"></i>
                    </span>
    </div>
    <div class="col-xs-12" ng-if="(comp.specialisation.niveau >= comp.points && comp.points > 0) && (comp.specialisation.specialitesPossibles.length > 0 || comp.specialisation.customSpec != undefined) && !comp.specChoosen">
        Ajouter une spécialité :
                    <span ng-if="comp.specialisation.specialitesPossibles">
                        <select ng-model="spec" ng-options="possibility for possibility in comp.specialisation.specialitesPossibles"></select>
                        <button class="btn btn-sm btn-primary" type="button" ng-disabled="!spec" ng-click="addSpec(comp, spec)">Ajouter</button>
                    </span>
                    <span ng-if="comp.specialisation.customSpec != undefined">
                        <input ng-model="specLibre" type="text" placeholder="Nom de la spécialité" ng-change="changeCustomSpec(comp, specLibre)">
                    </span>
    </div>
</div>