<h1>Compétences</h1>
<div class="text-center">
    Il reste {{service.getPointsDisponibles()}} points à repartir.
</div>
<div>
    Choisir une capacité de base :
    <select ng-model="baseComp" ng-change="changeChoixBase(baseComp)">
        <option ng-repeat="choice in service.getChoixBasePossibilites()" ng-value="choice">{{service.getCompetences()[choice].nom}}</option>
    </select>
</div>

<div class="panel panel-default">
    <ul class="list-group">
        <li class="list-group-item" ng-repeat="comp in service.getCompetences()">
            <cops-competence comp="comp" limitoptionbase="limitOptionBase"></cops-competence>
        </li>
    </ul>
</div>
<div class="text-center">
    <button class="btn btn-primary" type="button" ng-disabled="!canGoToHistorique()" ng-click="goToHistorique()">Historique</button>
</div>